<form [formGroup]="editForm">
  <div class="form-group">
    <label for="field-name">Name</label>
    <input formControlName="name" id="field-name" type="text" pInputText />
  </div>

  <div class="form-group">
    <label for="field-color">Color</label>
    <p-dropdown
      id="field-color"
      formControlName="color"
      [(ngModel)]="selectedColor"
      [options]="colors"
      optionLabel="name"
      appendTo="body"
      [showClear]="true"
    >
      <ng-template pTemplate="selectedItem">
        <div class="flex-inline" *ngIf="selectedColor">
          <span
            class="color-circle"
            [style.background]="selectedColor?.code"
          ></span>
          <div>{{ selectedColor?.name! }}</div>
        </div>
      </ng-template>
      <ng-template let-color pTemplate="item">
        <div class="flex-inline">
          <span class="color-circle" [style.background]="color.code"></span>
          <div>{{ color.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <div class="form-group">
    <label for="field-image">Icon</label>
    <p-listbox
      id="field-image"
      [options]="icons"
      [(ngModel)]="selectedIcon"
      formControlName="image"
      optionLabel="name"
      optionValue="code"
      [listStyle]="{ 'max-height': '250px' }"
      [filter]="true"
      filterPlaceHolder="Search icons..."
      emptyFilterMessage="No icons found"
      emptyMessage="No icons found"
    >
      <ng-template let-icon pTemplate="item">
        <div class="item-icon">
          <i class="pi {{ icon?.code }}"></i>
          <div>{{ icon.name }}</div>
        </div>
      </ng-template>
    </p-listbox>
  </div>

  <div class="form-actions end">
    <button
      class="button button-link black"
      type="button"
      (click)="closeDialog()"
    >
      <i class="pi pi-times"></i>
      Cancel
    </button>
    <button (click)="save()" class="button button-black" type="button">
      Add collection
    </button>
  </div>
</form>
