<nav class="navigation">
  <div class="navigation-left">
    <!-- <a href="">
      <i class="pi pi-home"></i>
    </a> -->
  </div>

  <ul class="navigation-menu">
    <li class="navigation-item">
      <a
        (click)="openAddCollectionDialog()"
        class="navigation-link button button-outlined-black"
      >
        <i class="pi pi-plus-circle"></i>
        <span>Add collection</span>
      </a>
    </li>

    <li class="navigation-item">
      <a href="#" class="navigation-link icon">
        <i class="pi pi-bell"></i>
        <span class="bubble">3</span>
      </a>
    </li>
  </ul>
</nav>
