.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  padding-top: 1.5rem;
  height: 100%;
  // box-shadow: rgba(149, 157, 165, 0.3) 0px 3px 15px;
  // background: #fff;

  &-left {
    .pi {
      font-size: 1.8rem;
    }
  }
  &-menu {
    display: flex;
    align-items: center;
  }

  &-item:not(:last-child) {
    margin-right: 2.5rem;
  }

  &-link {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-black);

    &.button {
      display: inline-block;
      padding: 0.8rem 1.35rem;
      border-radius: 4px;

      &-outlined-black {
        background: var(--color-transparent);
        border: 1px solid var(--color-black);
        color: var(--color-black);
        transition: background 0.2s;

        &:hover {
          background: var(--color-black);
          color: var(--color-white);
        }
      }

      &-black {
        color: var(--color-black);
        border: 1px solid var(--color-black);
        transition: background 0.2s;

        &:hover {
          background: var(--color-black);
          color: var(--color-white);
        }
      }
    }

    i {
      font-size: 1.3rem;
    }

    &.icon {
      position: relative;

      i {
        font-size: 2rem;
      }

      .bubble {
        background: var(--color-black);
        color: var(--color-white);
        display: inline-block;
        position: absolute;
        line-height: 1.6;
        text-align: center;
        top: -50%;
        right: -50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }

    i ~ span {
      margin-left: 0.65rem;
      font-size: 1.3rem;
    }
  }
}
