.p-messages,
.p-component {
  font-family: var(--ff);
}

.p-messages {
  font-size: 1.5rem;
}

.p-message .p-message-wrapper {
  padding: 2.1rem 1.75rem;
}

.p-inputtext {
  padding: 1.02rem 1.25rem;
  font-size: 1.5rem;
  border-radius: 4px;
}

.p-dropdown {
  width: 100%;
}

.p-dialog {
  .p-dialog-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  font-size: 1.4rem;
}

.p-dialog .p-dialog-content {
  padding: 2rem 1.5rem;
}

.p-toast {
  font-size: 1.4rem;
  font-family: var(--ff);
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
  background-color: var(--color-black);
  color: var(--color-white);
}
