.button {
  padding: 0.85rem 1.45rem;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;

  &-black {
    background: var(--color-black);
    border: 1px solid var(--color-black);
    color: var(--color-white);
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.85;
    }
  }

  &-outlined {
    &-light {
      background: transparent;
      color: var(--color-light);
      border: 1px solid var(--color-light);
    }
  }

  &-link {
    background: transparent;
    &.black {
      color: var(--color-black);
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
