<div class="collection-list">
  <ng-container *ngIf="!empty"></ng-container>
  <div class="collection-item" *ngFor="let item of collections">
    <span class="collection-item__image" [style.background]="item.color">
      <i class="pi {{ item.image }}"></i>
    </span>
    <div class="collection-item__text">
      <span>{{ item.name }}</span>
      <small>3 / 7 done</small>
    </div>
  </div>

  <div
    *ngIf="!empty && collections?.length !== 0"
    class="collection-item add"
    (click)="openDialog()"
  >
    <span>
      <i class="pi pi-plus-circle"></i>
    </span>
  </div>
</div>
