<div class="home-wrapper">
  <p-toast key="COLLECTION_TOAST"></p-toast>
  <div class="home-navigation">
    <taskorg-navigation
      (collectionCreated)="handleRefreshCollectionList($event)"
    ></taskorg-navigation>
  </div>

  <div class="home-content">
    <div class="home-section">
      <div class="home-title">Collections List</div>

      <p-progressSpinner
        *ngIf="loading"
        [style]="{ width: '50px', height: '50px' }"
      ></p-progressSpinner>

      <p-messages
        *ngIf="collections.length === 0"
        [(value)]="msgs"
      ></p-messages>

      <taskorg-collections
        (openCollectionDialog)="openAddCollectionDialog()"
        [collections]="collections"
        [empty]="isDataCollectionEmpty"
      ></taskorg-collections>
    </div>
  </div>
</div>
