.home {
  &-title {
    display: inline-block;
    padding-bottom: 1rem;
    // border-bottom: 1px solid var(--color-black);
    font-size: 2rem;
    font-weight: var(--fw-md);
    width: 100%;
    margin-bottom: 2rem;
  }

  &-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-section {
    max-width: 765px;
    width: 50%;
    // background: red;
  }
}
