.form-group {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.75rem;
    font-size: 1.4rem;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.form-actions {
  &.end {
    display: flex;
    justify-content: flex-end;
  }
}
