.collection {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: calc((765px - (4 * 180px)) - 3rem);
  }

  &-item {
    flex: 0 1;
    flex-basis: 180px;
    background: var(--color-black-light);
    color: var(--color-white);
    padding: 2rem;
    width: 180px;
    height: 150px;
    border-radius: 5px;
    font-weight: var(--fw-sm);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 0.56;
    }

    &.add {
      background: transparent;
      border: 1px dashed var(--color-black);
      color: var(--color-black);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: var(--color-black-lighter);
        // color: var(--color-white);
      }

      i {
        font-size: 5rem;
        opacity: 0.56;
      }
    }

    &__image {
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.5rem;
      padding: 0.5rem;
      margin-bottom: 1.5rem;

      i {
        font-size: 2rem;
        color: var(--color-white);
      }
    }

    &__text {
      font-size: 2.5rem;
      font-weight: lighter;
      display: flex;
      flex-direction: column;

      small {
        font-size: 1.2rem;
        opacity: 0.56;
      }
    }
  }
}
