*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: 'Lato';
  font-size: var(--fs-normal);
  font-weight: var(--fw-sm);
  color: var(--color-black);
  background: var(--color-white);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
