.color {
  &-circle {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--color-white);
  }
}

.flex-inline {
  display: flex;
  align-items: center;
  & > *:first-child {
    margin-right: 1.5rem;
  }
}


.item-icon {
  display: flex;
  align-items: center;
  font-size: 1.6rem;

  i {
    margin-right: 2rem;
    font-size: 1.8rem;
  }

}
