@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// $color-primary: '#54BAB9';
// $color-secondary: '#E9DAC1';
// $color-tertiary: '#F7ECDE';

// $color-white: '#FBF8F1';
// $color-black: '#3A3845';
// $color-gray: '#F5F5F5';

// $ff: 'Lato' sans-serif;

// $fs-small: 1.2rem;
// $fs-normal: 1.5rem;
// $fs-medium: 1.6rem;
// $fs-large: 2.4rem;

// $fw-sm: 300;
// $fw-md: 400;
// $fw-lg: 700;

:root {
  --color-primary: #54bab9;
  --color-secondary: #e9dac1;
  --color-tertiary: #f7ecde;

  --color-white: #fbf8f1;
  --color-black: #3a3845;
  --color-black-light: rgba(58, 56, 69, 0.75);
  --color-black-lighter: rgba(58, 56, 69, 0.2);
  --color-light: #f5f5f5;

  --ff: 'Lato' sans-serif;

  --fs-small: 1.2rem;
  --fs-normal: 1.5rem;
  --fs-medium: 1.6rem;
  --fs-large: 2.4rem;

  --fw-xs: 100;
  --fw-sm: 300;
  --fw-md: 400;
  --fw-lg: 700;
}
